footer{
    height: 80px;
    background-color: rgb(131, 169, 101);
    width: 100%;
    text-align: center;
    height: 80px;
    clear: both;
}

.footer-content{
    padding: 15px;
    line-height: 2em;
}